<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yulia Bakhareva</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/style.css"> 
   
</head>
<body>
    <div class="cv">
        <div class="header"><!--<p>контейнер 1</p>-->
            <h1 class="header__name">Yulia Bakhareva</h1>
            <div class="header__profession">Interpreter</div>
            <div class="header__details">
                <span class="header__details-item">Omsk, Russia</span>
                <span class="header__details-item">
                    <a href="mailto:jbachareva@gmail.com">jbachareva@gmail.com</a>  <!--<p>ссылка на почту</p>-->
                </span> <!--<p>строчный элемент</p>-->
                                   </div>

             <section class="cv-info-section">
                    <div><h3 class="cv-info-section__title">Personal</h3></div>
<!--<p>Определяет логическую область (раздел) страницы, обычно с заголовком.Нужен ли ??????????????????????????????????????????????</p>-->

        <div class="levels"></div><!--<p>контейнер 2</p>-->
        <div class="cv__content">
            <div class="cv__left">
                <img src="./images/Haski.jpg alt="Yulia Bakhareva" class="cv__photo"> 
                <section class="cv-info-section">
                    <div><h3 class="cv-info-section__title">Skills</h3></div>

                    <div class="cv-skill"><!--<p>контейнер  3 info-section ,в нем по 2 маленьких:имя навыка и уровень</p>-->
                        <h4 class="cv-skill__title">Translation from English </h4>
                        <div class="cv-skill__progress cv-skill__progress_95"></div>
                    </div>

                    <div class="cv-skill">
                        <h4 class="cv-skill__title">Organization</h4>
                        <div class="cv-skill__progress cv-skill__progress_70"></div>
                    </div>

                    <div class="cv-skill">
                        <h4 class="cv-skill__title">Translation from German</h4>
                        <div class="cv-skill__progress cv-skill__progress_60"></div>
                    </div>

                    

                
                <section class="cv-info-section">
                    <div><h3 class="cv-info-section__title">Software</h3>
                    </div>
<!--<p>Определяет логическую область (раздел) страницы, обычно с заголовком. Нужен ли ???????????????????????</p>-->
                    <!--<p>контейнер info-section 4, отдельно в нем по 2 маленьких:имя навыка и уровень</p>-->
                     <div class="cv-skill">
                        <h4 class="cv-skill__title">C++</h4>
                        <div class="cv-skill__progress cv-skill__progress_50"></div>
                    </div>

                    <div class="cv-skill">
                        <h4 class="cv-skill__title">CSS</h4>
                        <div class="cv-skill__progress cv-skill__progress_30"></div>
                    </div>

            </section> 

            
            <div class="cv__right"> <!--<p>контейнер info-section 5, справа</p>-->
                <section class="cv-info-section">
                    <div><h3 class="cv-info-section__title">About me</h3>     </div>

            <div class="cv-info-section__text">
                        <span class="cv__marked-text">I am Yulia Bakhareva.</span> I can`t live without English and German,that is why I translate everything I hear in my head 24/7.
                        I make international forums in the city of my own and find pure joy in projecting my thoughts into foreign languages.
            </div>
        </section>

        <section class="cv-info-section"><!--<p>info-section 6</p>-->
                    <h3 class="cv-info-section__title">Education</h3>
                    <div class="cv-education">
                        <div class="cv-education__from-to">2011 / 2017</div>
                        <div class="cv-education__description">
                            Foreign languages, Omsk State University
                            <div class="cv-education__degree">
                                Master of Science
                            </div>
                        </div>
                    </div>
        </section>


         <section class="cv-info-section"><!--<p>info-section все тот же 7</p>-->
            <div><h3 class="cv-info-section__title">Experience</h3></div>
                    <div class="cv-experience">
                        <div class="cv-experience__from-to">
                            November2016 - Present                            
                    </div>

                        <div class="cv-experience__post">Interpreter</div>
                    <div class="cv-experience__company">
                              <a href="http://www.titan-omsk.ru/gruppa_kompaniy/company/99/">www.titan-omsk.ru/gruppa_kompaniy/company/99/</a> 
                    </div>
                    <div class="cv-experience__description">
                            <span class="cv__marked-text">Description.</span><!--<p>строчный элемент</p>-->
                     </div>
                    
        </section>

                <section class="cv-info-section"> <!--<p>info-section 8</p>-->
                    <div><h3 class="cv-info-section__title">Reference</h3></div>
                    <div class="cv-reference">
                        <div class="cv-reference__name">Anna Mikhailovna Klyoster </div>
                        <div class="cv-reference__post">associate Professor at OmGTu</div>
                        <div class="cv-reference__contact">
                            E. <a href="mailto:annaKlyoster.gmail.com">annaKlyoster.gmail.com</a> <!--<p>ссылка на почту</p>-->
                        </div>
        </section>

            </div>
    </body>
</html>